/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html { 
  background: url("../images/3d-bg.jpg") no-repeat center center fixed;
  background-color: #ea356f;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  scroll-behavior: smooth;
}

h1,h2,h3 {
  font-family: 'Nunito', cursive;
}

main {
  padding-bottom: 20rem;
}

.sidenav-trigger:hover {
  cursor: pointer;
}

.border {
  border: 1px solid !important;
}

.nav-wrapper {
  /* UI Gradients - Yoda background */
  background: #FF0099;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #493240, #FF0099);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #493240, #FF0099); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav-wrapper ul:not(#user-dropdown) {
  height: 100%;
}

.nav-wrapper ul li:not(.dropdown-link) {
  height: 100%;
}

.nav-wrapper a {
  height: 100%;
}

.movie-title {
  background-color: #af3576;
}

.border-left {
  border-left: 1px solid !important;
}

.border-right {
  border-right: 1px solid !important;
}

.review-container {
  height: 10rem;
  overflow: scroll;
}

.collection-item .btn-group {
  margin-bottom: .25rem;
}

.movie-info {
  margin: 0 1rem !important;
}

.movie-info.border:not(:first-child) {
  border-top: 0 !important;
}

.reviewer-img {
  height: 2rem !important;
  width: 2rem;
  margin-bottom: -0.6rem;
}

.profile-img {
  height: 100%;
  margin-right: .5rem;
}

.username {
  margin-right: .5rem;
}

.profile-img img {
  height: 3rem;
  width: 3rem;
  overflow: clip;
  border-radius: 50%;
}

.starring {
  min-height: 100% !important;
}


/* W3Schools How To: Snackbar - https://www.w3schools.com/howto/howto_js_snackbar.asp */
#snackbar {
  height: min-content;
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 2000; /* Add a z-index if needed */
  right: 15px; /* Center the snackbar */
  top: 30px; /* 30px from the bottom */
  transition: background-color 0.2s ease-in-out;
}

#snackbar:hover {
  cursor: pointer;
  background-color: #5c5c5c;
}

#snackbar:hover i {
  transition: color 0.2s ease-in-out;
  color: #343434;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}

.side-contents {
  position: fixed !important;
  right: 0 !important;
  width: max-content !important;
}

.table-of-contents a {
  color: white;
}

@media screen and (min-device-width: 600px)  {
  .movie.row {
    display: flex;
    align-items: center;
  }
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}