<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movie Reviews</title>

  <!-- Material Icon -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>
<body>
  <header>
    <!-- User dropdown -->
    <ul id="user-dropdown" class="dropdown-content">
      <li class="dropdown-link"><a href="/profile">Profile</a></li>
      <li class="dropdown-link"><a href="/logout">Log Out</a></li>
    </ul>
    <!-- Browser Main Nav -->
    <nav>
      <div class="nav-wrapper pink">
        <a role="button" data-target="mobile-sidenav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <a href="/" class="brand-logo center">Logo</a>
        <ul id="page-links" class="left hide-on-med-and-down">
          <li><a href="/movies">Movies</a></li>
          <li><a href="/movies/add">Add Movie</a></li>
        </ul>
        <ul id="profile-links" class="right hide-on-med-and-down">
          {% if not session["user"] %}
           <li><a href="/login">Log In</a></li> 
           <li><a href="/register">Register</a></li> 
          {% else %}
          <a class="dropdown-trigger" href="#!" data-target="user-dropdown">
            <li class="profile-img valign-wrapper">
              <img src="{{ session['user']['profile_url'] }}" alt="session['user']['username']" class="responsive-img circle">
            </li>
            <span class="username">{{ session['user']['username'] }}</span>
          </a>
          {% endif %}
        </ul>
      </div>
    </nav>

    <!-- Mobile Side Nav -->
    <ul class="sidenav" id="mobile-sidenav">
      <li><a href="/movies">Movies</a></li>
      <li><a href="/movies/add">Add Movie</a></li>
      {% if not session["user"] %}
        <li><a href="/login">Log In</a></li> 
        <li><a href="/register">Register</a></li> 
     {% else %}
      <a class="dropdown-trigger" href="#!" data-target="#user-dropdown">
        <li class="profile-img valign-wrapper">
          <img src="{{ session['user']['profile_url'] }}" alt="session['user']['username']" class="responsive-img circle">
        </li>
        <span class="username">{{ session['user']['username'] }}</span>
      </a>
     {% endif %}
    </ul>
  </header>

  <!-- Flashed Messages -->
  <section>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
          <div id="snackbar" class="{% if messages %} show {% endif %}">
            {{ message }}
            <i class="material-icons right">close</i>
          </div>
        {% endfor %}
    {% endwith %}
  </section>
  
  <!-- Content Title -->
  <div class="row">
    <div class="col s12">
      {% block title%}
      {% endblock %}
    </div>
  </div>

  <!-- Content -->
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>

  {% block modals %}
  {% endblock %}
  
  <!-- Scripts -->
  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
          integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
          crossorigin="anonymous"></script>
  <!-- Materalize JS CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!-- Custom JS -->
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <!-- File specific js -->
  {% block scripts %}
  {% endblock %}
            
</body>
</html>