{% extends "base.html" %}
{% block content %}
  <h3 class="card-panel pink darken-1 white-text">Movies</h3>
 
  <div class="row">
    <div class="col s12">
      <ul>
        {% for movie in movies %}
        <li class="card-panel z-depth-2 hoverable">
          <form action="{{ url_for('delete_movie', movie_id=movie._id) }}">
            <div class="row movie">

              <div class="col m2 s12">
                <img src="{{ movie.cover_image_url }}" alt="{{ movie.title }}" class="responsive-img materialboxed">
              </div>
              <div class="col m10 s12 center-align">
                <div class="row valign-wrapper">
                  <div class="col s10">
                    <h5 class="black-text text-darken">{{ movie.title }}</h5>
                  </div>
                  <div class="col s2 right-align">
                    <button class="btn red btn-floating waves-effect waves-light" type="submit" name="delete">
                      <i class="material-icons">delete</i>
                    </button>
                    <button class="btn btn-floating waves-effect waves-light" type="button" data-movie-id="{{ movie._id }}" name="edit-movie">
                      <i class="material-icons">edit</i>
                    </button>
                  </div>
                </div>

                <div class="row">

                  <div class="row valign-wrapper border movie-info">
                    <div class="col m2 s4">
                      <p><b>Directed By</b></p>
                    </div>
                    <div class="col m10 s8 left-align border-left">
                      <p>
                        {{ movie.director }}
                      </p>
                    </div>
                  </div>

                  <div class="row valign-wrapper border movie-info">
                    <div class="col m2 s4">
                      <p><b>Starring</b></p>
                    </div>
                    <div class="col m10 s8 left-align border-left">
                      <p>
                        {% for star in movie.starring %}
                          {% if loop.last %}
                            <span>{{ star }}</span>
                          {% else %}
                          <span>{{ star }},</span>
                          {% endif %}
                        {% endfor %}
                      </p>
                    </div>
                  </div>

                  <div class="row valign-wrapper border movie-info">
                    <div class="col m2 s4">
                      <p><b>Description</b></p>
                    </div>
                    <div class="col m10 s8 left-align border-left">
                      <p>
                        {{ movie.description }}
                      </p>
                    </div>
                  </div>
                  
                  <div class="row border movie-info">
                    <div class="col m2 s4">
                      <p><b>Reviews</b></p>
                    </div>
                    <div class="col m10 s8 review-container left-align border-left">
                        {% for review in movie.reviews %}
                        <div class="review">
                          <blockquote>
                            {{ review.review }} <br>
                            <em>- {{ review.reviewer }}</em> 
                            <img class="circle responsive-img reviewer-img" alt="profile picture"
                                 src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png">
                          </blockquote>
                          {% if not loop.last %}
                            <hr>
                          {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <!-- Form for edit movie Python -->
  <form id="edit_movie" style="display: none;" method="GET" action="{{ url_for('edit_movie', movie_id='form') }}">
    <input type="text" name="edit_movie_id" id="edit_movie_id">
  </form>
  
{% endblock %}

{% block modals %}
  <div id="confirm-delete-modal" class="modal">
    
      <div class="modal-content">
        <h4>Are you sure you want to delete the movie?</h4>
        <p>This action is reversible</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
        <button class="btn right waves-effect waves-light" type="submit" name="delete">Delete
          <i class="material-icons right">delete</i>
        </button>
      </div>
    </form>
  </div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/movies.js') }}"></script>
{% endblock %}